@using System.Text.Json;

@{
    var offeredProducts = ViewData["OfferedProducts"] as List<Product>;
}

<div id="header">
    <div id="logo">
        <a href="#">
            <img src="~/css/images/logo.png" width="237" height="140"/>
        </a>
    </div>
    <div class="oferte_content">
        <div class="top_divider">
            <img src="~/css/images/header_divider.png" width="1" height="164"/>
        </div>
        @if (offeredProducts != null && offeredProducts.Count > 0)
        {
            <div class="oferta">
                <div class="oferta_content" style="display: table;">
                    <div style="display: table-cell; height: 92px; width: 94px; vertical-align: middle;">
                        @if (offeredProducts[0].ProductImage != null && offeredProducts[0].ProductImage.Count > 0)
                        {
                            <img style="max-height: 92px; max-width: 94px;"
                                 src="@offeredProducts[0].ProductImage[0].URI"
                                 id="offer-image"
                                 class="oferta_img"
                                 alt="@offeredProducts[0].Title"/>
                        }
                    </div>
                    <div class="oferta_details" style="display: table-cell; vertical-align: center;">
                        <div class="oferta_title" id="offer-title">@offeredProducts[0].Title</div>
                        <div class="oferta_text" id="offer-description">
                            @{
                                var overview = offeredProducts[0].Overview;
                                if (overview == null)
                                {
                                    <p>No overview!</p>
                                }
                                else
                                {
                                    if (overview.Length > 220)
                                    {
                                        <p>@offeredProducts[0].Overview.Substring(0, 220)...</p>
                                    }
                                    else
                                    {
                                        <p>
                                            @offeredProducts[0].Overview
                                        </p>
                                    }
                                }
                            }
                        </div>
                        <a asp-action="ProductDetail" asp-route-productId="@offeredProducts[0].ProductId" id="detail-btn" class="details">details</a>
                    </div>
                </div>
                @if (offeredProducts.Count > 1)
                {
                    <div class="oferta_pagination" style="display: table">
                        @for (var count = 0; count < offeredProducts.Count && count < 5; count++)
                        {
                            <a href="javascript:void(0)" style="display: table-cell" id="page-@count" onclick="clickNext(@(count))" class="@(count == 0 ? "current" : "not-current")">@(count + 1)</a>
                        }
                    </div>
                }
            </div>
        }
        <div class="top_divider">
            <img src="~/css/images/header_divider.png" width="1" height="164"/>
        </div>
    </div>
    <!-- end of oferte_content-->
</div>


@if (offeredProducts != null && offeredProducts.Count > 1)
{
    <script>
    var interval = null;
    var currentIndex = 0;
    const maxIndex = @offeredProducts.Count - 1;
    const products = JSON.parse(`@Html.Raw(JsonSerializer.Serialize(offeredProducts))`);

    const offerImageElement = document.getElementById("offer-image");
    const offerTitleElement = document.getElementById("offer-title");
    const offerDescription = document.getElementById("offer-description");
    const offerDetailButton = document.getElementById("detail-btn");

    if (currentIndex !== maxIndex) {

        function initInterval() {
            interval = setInterval(() => {
                // Remove class `current` from current page number.
                let currentPage = document.getElementById(`page-${currentIndex}`);
                currentPage.className = "not-current";

                // Set next page number as `current`.
                currentIndex += 1;
                if (currentIndex > maxIndex) {
                    currentIndex = 0;
                }
                offerImageElement.src = products[currentIndex].ProductImage[0].URI;
                offerTitleElement.innerText = products[currentIndex].Title;
                let overview = products[currentIndex].Overview;
                if (overview.length > 220) {
                    overview = overview.substring(0, 220) + "...";
                }
                offerDescription.innerText = overview;
                offerDetailButton.href = `/Home/ProductDetail?productId=${products[currentIndex].ProductId}`;
                
                currentPage = document.getElementById(`page-${currentIndex}`);
                currentPage.className = "current";
            }, 3000);
        }

        function clickNext(index) {
            if (interval !== null) {
                clearInterval(interval);
                interval = null;
            }
            let currentPage = document.getElementById(`page-${currentIndex}`);
            currentPage.className = "not-current";

            currentIndex = index;

            offerImageElement.src = products[index].ProductImage[0].URI;
            offerTitleElement.innerText = products[index].Title;
            let overview = products[index].Overview;
            if (overview.length > 220) {
                overview = `${overview.substring(0, 220)}...`;
            }
            offerDetailButton.href = `/Home/ProductDetail?productId=${products[currentIndex].ProductId}`;
            offerDescription.innerText = overview;
            
            currentPage = document.getElementById(`page-${currentIndex}`);
            currentPage.className = "current";
            initInterval();
        }

        initInterval();
    }

</script>
}