@model List<EcommerceApp2259.Models.Product>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        @foreach (var product in Model) {
            <li>
                <p>@product.Title</p>
                <p>@product.ProductId</p>
                <p>@product.Brand</p>
                <p>@product.Category</p>
                <p>@product.CreatedDate</p>
            </li>
            }
    </ul>
</div>
