@using Newtonsoft.Json
@model EcommerceApp2259.Models.Product;

@{
    var similarProducts = ViewData["SimilarProducts"] as List<EcommerceApp2259.Models.Product>;
}

<div id="main_container">
    @await Html.PartialAsync("Components/NavigationBar")
    <!-- end of menu tab -->
    <div class="crumb_navigation">Navigation:<a class="current" asp-controller="Home" asp-action="Index">Home</a></div>
    @await Html.PartialAsync("Components/CategoriesDisplay")

    <div class="center_content">
        <div class="center_title_bar">Product</div>
        <div class="prod_box_big">
            <div class="top_prod_box_big"></div>
            <div class="center_prod_box_big">
                <div class="product_img_big">
                    @* <a href="javascript:popImage('~/css/imagesbig_pic.jpg','Some Title')" *@
                    @*    title="header=[Zoom] body=[&nbsp;] fade=[on]"> *@
                    @*     <img src="~/css/images/laptop.gif"/> *@
                    @if (Model.ProductImage != null && Model.ProductImage.Count > 0)
                    {
                        <img id="big-thumbnail" src="@Model.ProductImage[0].URI" alt="@Model.Title" style="max-width: 173px; max-height: 104px;"/>
                        <div class="thumbs">
                            @for (int i = 1; i < Model.ProductImage.Count; i++)
                            {
                                <img id="small-thumb-@i"
                                     src="@Model.ProductImage[i].URI"
                                     alt=""
                                     style="max-height: 30px; max-width: 30px"
                                     onclick="swapThumbnail(@i)"/>
                            }
                        </div>
                    }
                </div>
                <div class="details_big_box">
                    <div class="product_title_big">@Model.Title</div>
                    <div class="specifications">
                        Disponibilitate: <span class="blue">In stock</span><br/>
                        @Html.DisplayNameFor(m => m.Brand): <span class="blue">@Model.Brand</span><br/>
                        @Html.DisplayNameFor(m => m.Category): <span class="blue">@Model.Category</span><br/>
                        @Html.DisplayNameFor(m => m.CreatedDate): <span class="blue">@Model.CreatedDate.ToString()</span><br/>
                        @{
                            var productDetails = Model.ProductDetail;
                            if (productDetails != null && productDetails.Count > 0)
                            {
                                <hr />
                                foreach (var detail in productDetails)
                                {
                                    <span>@detail.Keyword:&nbsp;@detail.Description</span><br />
                                }
                            }
                        }
                    </div>
                    <div class="prod_price_big">
                        @* <span class="reduce">350$</span>  *@
                        <span class="price">@Model.OriginalPrice$</span>
                    </div>
                    <a class="addtocart" onclick="addItem('@JsonConvert.SerializeObject(Model)')">add to cart</a>
                    <a
                        href="#" class="compare">
                        compare
                    </a>
                </div>
            </div>
            <div class="bottom_prod_box_big"></div>
        </div>

        @if (similarProducts != null && similarProducts.Count > 0)
        {
            <div class="center_title_bar">Similar products</div>
            foreach (var product in similarProducts)
            {
                @await Html.PartialAsync("Components/ProductBox", product)
            }
        }
    </div>
    <!-- end of center content -->
    @await Html.PartialAsync("Components/RightContent")
</div>

<script>
const bigThumbnail = document.getElementById("big-thumbnail");

const swapThumbnail = (index) => {
    let currentSrc = bigThumbnail.src;
    let smallThumb = document.getElementById(`small-thumb-${index}`);
    bigThumbnail.src = smallThumb.src;
    smallThumb.src = currentSrc;
}

</script>