@using System.Globalization;

@model List<EcommerceApp2259.Models.Product>;

@{
    var size = Model.Count;
    var index = 0;
    var maxItemsPerRow = (int) ViewData["ItemsPerRow"];

    while (index < size)
    {
        <div class="row">
            @{
                for (int col = 0; col < maxItemsPerRow && index < size; col++) 
                {
                    <div class="card product-card">
                        <div style="width: 100%; height: 150px;">
                            @{
                                if (Model[index].ProductImages != null && Model[index].ProductImages.Count > 0)
                                {
                                    <img src="@Model[index].ProductImages.First().URI" class="card-img-top product-image" />
                                }
                                else 
                                {
                                    <img src="https://worldie.com/assets/images/art_no_image.png" class="card-img-top product-image" />
                                }
                            }
                        </div>
                        <div class="card-body product-card-body">
                            <p class="product-title">
                                <strong>
                                    <a asp-action="ProductDetail" asp-route-productId="@Model[index].ProductId">@Model[index].Title</a>
                                </strong>
                            </p>
                            <p class="product-text">@Model[index].OriginalPrice&nbsp;₫</p>
                            <p class="product-text">@Model[index].ProductImages?.Count</p>
                        </div>
                    </div>
                    index++;
                }
            }
        </div>
    }
}

<style>
    .product-card {
        width: 150px;
        margin: 0 2px;
        margin-bottom: 4px;
        border-radius: 5px;
    }

    .product-image {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        max-height: 150px;
    }

    .product-card:hover {
        box-shadow: 0 8px 16px 0 rgba(220,20,60,0.2);
    }

    .product-card-body {
        margin: 0px;
        padding: 0px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .product-title {
        font-size: 12px; 
        font-family: sans-serif; 
        font-style: bolder;
        margin: 5px 0;
    }

    .product-text {
        font-size: 14px; 
        color: red; 
        font-family: sans-serif;
        margin: 0;
    }
</style>