@using System.Text.Json;
@model EcommerceApp2259.Models.Product

<div class="prod_box">
    <div class="top_prod_box"></div>
    <div class="center_prod_box">
        <div class="product_title">
            <a asp-action="ProductDetail" asp-route-productId="@Model.ProductId">@Model.Title</a>
        </div>
        <div class="product_img" style="width: 173px; height: 104px;">
            <a asp-action="ProductDetail" asp-route-productId="@Model.ProductId">
                @{
                    var productImages = Model.ProductImage;
                    if (productImages != null && productImages.Count > 0)
                    {
                        <img id="product-img-@Model.ProductId" src="@productImages[0].URI" alt="@Model.Title" style="max-width: 173px; max-height: 104px;"/>
                    }
                    else
                    {
                        <img src="~/css/images/laptop.gif" alt=""/>
                    }
                }
            </a>
        </div>
        <div class="prod_price">
            @* <span class="reduce"></span> *@
            <span class="price">@Model.OriginalPrice$</span>
        </div>
    </div>
    <div class="bottom_prod_box"></div>

    <div class="prod_details_tab">
        <a href="javascript:void(0)" onclick="addItem('@JsonSerializer.Serialize(Model)')">
            <img src="~/css/images/cart.gif" class="left_bt" alt=""/>
        </a>
        <a href="javascript:void(0)">
            <img src="~/css/images/favs.gif" class="left_bt" alt=""/>
        </a>
        <a href="javascript:void(0)">
            <img src="~/css/images/favorites.gif" class="left_bt" alt=""/>
        </a>
        <a asp-action="ProductDetail" asp-route-productId="@Model.ProductId" class="prod_details">details</a>
    </div>
</div>

@if (Model.ProductImage != null && Model.ProductImage.Count > 1)
{
    <script>
    const imageElementOfProduct@(Model.ProductId.ToString().Replace("-", "")) = document.getElementById("product-img-@Model.ProductId");
    const imagesOfProduct@(Model.ProductId.ToString().Replace("-", "")) = JSON.parse('@Html.Raw(JsonSerializer.Serialize(Model.ProductImage))');
    const maxImageOfProduct@(Model.ProductId.ToString().Replace("-", "")) = imagesOfProduct@(Model.ProductId.ToString().Replace("-", "")).length - 1;
    var currentIndexOfProduct@(Model.ProductId.ToString().Replace("-", "")) = 0;
    
    setInterval(() => {
        currentIndexOfProduct@(Model.ProductId.ToString().Replace("-", "")) += 1;
        if (currentIndexOfProduct@(Model.ProductId.ToString().Replace("-", "")) > maxImageOfProduct@(Model.ProductId.ToString().Replace("-", ""))) {
            currentIndexOfProduct@(Model.ProductId.ToString().Replace("-", "")) = 0;
        }
        imageElementOfProduct@(Model.ProductId.ToString().Replace("-", "")).src = imagesOfProduct@(Model.ProductId.ToString().Replace("-", ""))[currentIndexOfProduct@(Model.ProductId.ToString().Replace("-", ""))].URI;
    }, 3000);
    </script>
}