@model EcommerceApp2259.Models.User

<div id="main_content">
    @await Html.PartialAsync("Components/NavigationBar")
    <!-- end of menu tab -->
    <div class="crumb_navigation">Navigation: User Detail</div>
    @await Html.PartialAsync("Components/CategoriesDisplay")
    <!-- end of left content -->
    <div class="center_content">
        <div class="center_title_bar">Xin chào @(Model.FirstName + " " + Model.LastName)!</div>

        <div class="prod_box_big">
            <div class="top_prod_box_big"></div>

            <div class="center_prod_box_big">
                @Html.DisplayNameFor(m => m.Email): @Model.Email
                <br />
                @Html.DisplayNameFor(m => m.Address): @Model.Address
                <br />
                @Html.DisplayNameFor(m => m.Id): @Model.Id
                <br />
                Password: @Model.PasswordHash
            </div>
            <div class="bottom_prod_box_big"></div>
        </div>

    </div>
    <!-- end of center content -->
    @await Html.PartialAsync("Components/RightContent")
</div>